<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration search:require="lucene">
          <fieldMap>
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="_formname" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field> 
            </fieldNames>
          </fieldMap>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_formname" returnType="string">Sitecore.Support.ContentSearch.ComputedFields.FormName,Sitecore.Support.313411</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
        <defaultSolrIndexConfiguration search:require="solr">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_formname" returnType="string">Sitecore.Support.ContentSearch.ComputedFields.FormName,Sitecore.Support.313411</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
        <defaultCloudIndexConfiguration search:require="Azure">
          <fieldMap>
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="_formname" cloudFieldName="formname_1" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" cloudAnalyzer="keyword" />
            </fieldNames>
          </fieldMap>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_formname" returnType="string">Sitecore.Support.ContentSearch.ComputedFields.FormName,Sitecore.Support.313411</field>
            </fields>
          </documentOptions>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>